
/* Main body layout - this is rarely overwritten in the website. */
body {
    background-color: rgb(19, 19, 19);
    font-family: Arial;
    font-size: 16px;
    color: white;
    margin: 0;
}

.main-title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: xx-large;
}

.top-container {
    background-color: #191919;
    outline-style: solid;
    outline-color: rgb(56, 56, 56);
}

.header-main {
    height: 60px;
    padding-left: 10px;
}

/* ul and li style used to style the navbar to how it is */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: rgb(19, 19, 19);
}


/* Majority of the important div design code, including padding, layouts, borders and fonts */
.main-container {
    margin: 30;
    padding: 10;
}

.info-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    width: 500px;
    height: 250px;
    padding: 10px;
    outline-style: solid;
    outline-color: rgb(56, 56, 56);
}

.index-title {
    font-size: xx-large;
    text-align: center;
}

.index-container {
    padding: 15px;
    width: 500px;
    height: 300px;
    outline-style: solid;
    outline-color: rgb(56, 56, 56);
    margin-left: auto;
    margin-right: auto;
}

/* Footer design, forces it to the bottom with the bottom: 0 line, the fixed position prevents it from ever adjusting and being moved */
.footer {
    padding-left: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.quiz-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 20;
    width: 30%;
    outline-style: solid;
    outline-color: rgb(56, 56, 56);
}

/* Neat bit of code that center aligns any element that doesn't have align built in (such as text) */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}